.App {
  text-align: center;
  background-color: #282c34;
  font-size: medium;
}



.App {
    background: linear-gradient(247deg, #f1952a, #f13a3a);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes AnimationName {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.App-section {
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.to-do-container {
  min-width: 320px;
  border: 3px solid firebrick;
  border-radius: 8px 8px;
  background-color: #27262b;
  padding: 20px;
  position: relative;
  padding-bottom: 44px;
}

.to-do-container .card {
  width: auto;
}


.logOut-btn {
  position: absolute;
  right: 4px;
  bottom: 4px;
}


.logIn-container {
  min-width: 320px;
    border: 3px solid firebrick;
    border-radius: 8px 8px;
    background-color: #27262b;
    padding: 20px;
  
}

.password {
  -webkit-text-security: square;
}