.App {
  text-align: center;
  background-color: #282c34;
  font-size: medium;
}



.App {
  background: linear-gradient(247deg, #f1952a, #f13a3a);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

.App-section {
  min-height: 100vh;
  max-width: 50rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: black;
}

.to-do-container {
  transition: 2s;
  opacity: 1
}

/* error message animation */
.no-data {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0 !important;
  }

  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0.2 !important;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}



.to-do-container {
  min-width: 20rem;
  border-radius: 0.5rem 0.5rem;
  padding: 1.25rem;
  position: relative;
  padding-bottom: 2.75rem;
  transition: .5s;
  background-image: url('./img/ptn1.gif');
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  position: relative;
  align-items: center;


}

.to-do-container .card {
  width: auto;
}

.to-do-container {
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

.sign-up-container {
  min-width: 20rem;
  position: relative;
  border-radius: 0.5rem 0.5rem;
  padding: 1.25rem;
  background-image: url('./img/ptn1.gif');
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  height: 425px;
  position: relative;
  align-items: center;

}

.sign-up-container {
  -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

.logOut-btn {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
}


.logIn-container {
  min-width: 20rem;
  position: relative;
  background-image: url('./img/ptn1.gif');
  border-radius: 0.5rem 0.5rem;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.25rem;
  height: 425px;
  display: flex;
  position: relative;

}


.logIn-container {
  -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

.password {
  -webkit-text-security: square;
}

.newUser {
  position: relative;
  top: 0;
  right: 0;
  margin-left: 1.8125rem;
}

.item-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
  border-top-left-radius: 1.25rem;

  border-bottom-left-radius: 1.25rem;
}

.item-text {
  display: flex;
  margin: 0;
  position: relative;
  vertical-align: middle;
  align-items: center;
  flex-direction: row;

}

.item-cont:hover {
  border-top-left-radius: 1.25rem;
  background-color: #9272ca69;
  border-bottom-left-radius: 1.25rem;
  transition: .2s;
 
}

.item-text::before {
  content: "◍";
  position: relative;
  width: 1.125rem;
  font-size: small;
  vertical-align: middle;
}

.trash-icon {
  transition: .1s;
}

.trash-icon:hover {
  transition: .1s;
  transform: translate(0rem, -0.3125rem) scale(1.2);
  cursor: pointer;
}

Button a {
  text-decoration: none;
  color: white;
  color: white;

}


Button a:hover {
  text-decoration: none;
  color: white;
}


.logInTwo {
  position: absolute;
  top: -5px;
  left: 2px;
}

.log-in-message {
  position: relative;
  overflow: hidden;
  height: 3.75rem;
  width: 100%;

}

.log-in-message p {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-62.5rem);
    transform: translateY(-62.5rem);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.2;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-62.5rem);
    transform: translateY(-62.5rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


.userName {
  margin: 0;
  position: absolute;
  font-size: smaller;
  bottom: 0;
  left: 10px;
  color: white;
}

.try-testUser {
  text-align: left;
  font-size: small;
}
.try-testUser ul {
  
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  padding: 0px 20px;
}

.to-do-list-outer {
  position: relative;
}

.progress {
  width: 100%;
  top: 50%;
  position: absolute;
  background-color: transparent !important;
}

.progress .indeterminate {
  background-color: #cddc39;
}

.input-group {
  align-items: center;
}

.card-body {
  max-height: 400px;
    overflow: auto;
}